<!DOCTYPE html>
<html lang="en">

<head>
    <!-- set the character encoding so browesers know how to render characters -->
    <meta charset="UTF-8">

    <!-- fixes the viewport so we could style for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Wiki - Home</title>
</head>

<body>
  <h1>Wiki Articles</h1>

  <ul>
    <% for (articleId in articles) { %>
      <li><a href="/articles/<%= articleId %>"><%= articles[articleId].title %></a></li>
    <% } %>
  </ul>

  <nav>
    <ul>
      <li><a href="/articles/new">Create a new article</a></li>
      <% if(user) { %>
        <li>Hi <%= user.username %>! <a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
  </nav>
</body>

</html>
