<!DOCTYPE html>
<html lang="en">

<head>
    <!-- set the character encoding so browesers know how to render characters -->
    <meta charset="UTF-8">

    <!-- fixes the viewport so we could style for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Wiki - Login</title>
</head>

<body>
  <h1>Login to the wiki</h1>

  <% if (error) { %>
    <p class="error">There was an error logging you in. Please try again.</p>
  <% } %>

  <% if (!user)  { %>
    <form method="POST" action="/login">

      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"></input>
      </div>

      <input type="submit" value="Login">

    </form>
    <a href="/">Go home</a>
  <% } else { %>
    <p>Hey, <%= user.username %>, you're already logged in.
                           Go to the <a href="/">home page</a>.
  <% } %>

</body>

</html>
